#product {
    border-color: white;
    border-width: 0px;
    border-radius: 0px;
}


#product img {
    width: 100%;
    height: 100%; /* Ajusta la altura de las imágenes */
    object-fit: contain;
    border-radius: 0px;
    border-width: 0px;
    border-color: white;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    height: 100%;
}
